@use './surface-tokens' as *;
@use '../variant/type-default';

@layer widget.base {
  .root {
    @include header-surface-tokens;
    @include header-surface-styles;
    @include header-control-tokens;

    width: 100%;
  }
}

@layer widget.variant {
  .root[data-icon-shape='rectangular'] {
    --header-menu-icon-width: 50%;
    --header-menu-icon-height: 50%;
    --header-logo-width: calc(var(--header-logo-height, 2.25rem) * 1.25);
  }
}
