@layer widget.menu {
  .glyph {
    width: var(
      --header-button-icon-width,
      var(--header-button-icon-size, var(--cmf-button-sm-fz, 0.875rem))
    );
    height: var(
      --header-button-icon-height,
      var(--header-button-icon-size, var(--cmf-button-sm-fz, 0.875rem))
    );
    flex-shrink: 0;
  }
}
