@layer widget.menu {
  .root {
    @include header-menu-icon;

    &.radius_round,
    &[data-menu-icon-radius='round'] {
      border-radius: var(--cmf-icon-radius-round, 100%);
    }

    &.radius_sm,
    &[data-menu-icon-radius='sm'] {
      border-radius: var(--cmf-icon-radius-sm, var(--radius-sm, 6px));
    }
  }

  .svg {
    display: block;
    width: var(--cmf-icon-width);
    height: var(--cmf-icon-height);
    max-width: 100%;
    max-height: 100%;
  }

  .hidden {
    display: none;
  }
}