@layer widget.base {
  .slot {
    width: 100%;
    --adapter-fallback-width: 100%;
    --adapter-fallback-height: var(--cmf-search-height, var(--input-height-md, 2.625rem));
  }

  .root {
    width: 100%;
  }
}
