@layer widget.element {
  .root {
    :global(.cmf-Button-inner) {
      flex-wrap: nowrap;
      min-width: 0;
    }

    :global(.cmf-Button-label) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
    }
  }
}
